# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# testing
/coverage

# python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
db.sqlite3

# production
/build
/staticfiles

# misc
.DS_Store
*.pem

# env files (can opt-in for committing if needed)
.env*
